<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/feed.css" />
  </head>
  <body>
    <body>
     

      <div class="container">
        <div class="box">
        
          <a href="https://images.unsplash.com/photo-1723908021871-f76201c6db1d?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            <img
              src="https://images.unsplash.com/photo-1723908021871-f76201c6db1d?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="image"
          /></a>
          <div class="caption">Lorem ipsum</div>
        </div>

        <div class="box">
          <a href="https://images.unsplash.com/photo-1724488258906-ce80713e28ce?q=80&w=1940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            <img
              src="https://images.unsplash.com/photo-1724488258906-ce80713e28ce?q=80&w=1940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="image"
          /></a>
          <div class="caption">Lorem ipsum</div>
        </div>

        <div class="box">
          <a
            href="https://images.unsplash.com/photo-1724785480561-cd877934be88?q=80&w=1808&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="image"
          >
            <img
              src="https://images.unsplash.com/photo-1724785480561-cd877934be88?q=80&w=1808&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="image"
          /></a>
          <div class="caption">Lorem ipsum</div>
        </div>

        <div class="box">
          <a
            href="https://images.unsplash.com/photo-1720719542373-9e9067e6be20?q=80&w=2067&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="image"
          >
            <img
              src="https://images.unsplash.com/photo-1720719542373-9e9067e6be20?q=80&w=2067&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="image"
          /></a>
          <div class="caption">Lorem ipsum</div>
        </div>

        <div class="box">
          <a
            href="https://images.unsplash.com/photo-1719937206098-236a481a2b6d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="image"
          >
            <img
              src="https://images.unsplash.com/photo-1719937206098-236a481a2b6d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt="image"
          /></a>
          <div class="caption">Lorem ipsum</div>
        </div>

       

      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="/javascripts/feed.js"></script>
    </body>
  </body>
</html>
