.OneItem {
    font-family: "Zain", sans-serif !important;
        font-weight: 700;
        font-style: normal;
    background-color: transparent !important;
    color: rgb(253, 255, 255) !important;
    font-size: x-large;
    -webkit-text-stroke: 0.1px black;
    
   width: 60vw !important;
}
.titleArea{
    background-color: transparent !important;
    color: aliceblue !important;
    list-style: none !important;
    font-weight: 800 !important;
    font-size: 2rem !important;
    width: 100% !important;
    -webkit-text-stroke: 0.4px black !important;
font-family: "Zain", sans-serif !important;
    font-weight: 700 !important;
    font-style: normal !important;
    font-size: 4rem !important;
}
.titleArea:hover{
    background-color: transparent !important;
    color: #FC9779 !important;
    list-style: none !important;
    scale: 1.007;
    -webkit-text-stroke: 0px black;
}
/* .Total{
    background-color: transparent !important;
} */
.TopDate{
    font-family: "Zain", sans-serif;
        font-weight: 700;
        font-style: normal;
    font-size: larger;
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: 900;
    bottom: -2rem;
    left: -24rem;
    font-size: larger;
    
}
.TopDate:hover{
    font-size: larger;
    position: relative;
    color: #FC9779 !important;
    font-weight: 900;
    bottom: -2rem;
    left: -24rem;
    
}
button{
    color: white !important;
}

.titleArea:focus {
    outline: none !important;
    box-shadow: none !important;
}
.textAndbtn{
    display: flex !important;
    justify-content: center;
    align-items: center;
   
}
.registerBtn{
    height: 60%;
    border: 1px solid #FC9779 !important;
}
.registerBtn:hover{
    height: 60%;
    border: 1px solid #FC9779 !important;
    background-color: #FC9779 !important;
}
.customHr{
    height: 3px !important;
    border: 3px solid #FC9779 !important;
    background-color: #FC9779;
    position: relative;
    top: -1rem;

 z-index: 10;
}